*{
    padding: 0;
    margin: 0;
    
}
img{
    width: 100px;
    border-radius: 10px;
}
body{
    display: flex;
    flex-direction: column;
    
}
h1{
    font-family: 'Square Peg', cursive;
}

.box{
    height: 500px;
    width: 230px;  /*100% if using grid */
    background-color: lightblue;
    border: 2px solid black;
   /* margin: 0 auto;  no margin if grid*/
    
}

/* @media only screen and (max-width: 1000px){
    #grid{
        grid-template-columns: 1fr 1fr;
    }
    .box:nth-of-type(3){
        grid-column: 1/3;
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    #grid{
        grid-template-columns: 1fr;
    }
    .box:nth-of-type(3){
        grid-column: 1/2;
        width: 100%;
    }
} */
