nav{
    background-color: lightgrey;
    list-style: none;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    padding: 1em;
    
}

nav ul li {
    list-style:none;
}

li a {
    text-decoration: none;
    
}
li{
    padding: 10px;
}
