#content {
    width: 100%;
    margin: 0 auto;
    }
    .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    }
    .cards section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
    }
    
    .cards img {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
    }


    