#content {
    width: 100%;
    margin: 0 auto;
    }
    .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    }
    .cards section {

        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        margin: 10px;
    }
    .cards section:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .cards img {
    width: 100%;
    
    }
    .cards p{
        text-align: center;
        padding: 10px 20px;
    }
    .cards a{
        text-align: center;
        padding: 10px 20px;
    }
    .gridrow-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .gridrow-menu img{
        width: 5%;
        margin: 10px;
    }
    

