#content {
    width: 100%;
    margin: 0 auto;
    }
    div.show {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    }
    #cards section {

        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        margin: 10px;
    }
    #cards section:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #cards img {
    width: 100%;
    
    }
    #cards p{
        text-align: center;
        padding: 10px 20px;
    }
    #cards a{
        text-align: center;
        padding: 10px 20px;
    }
    .gridrow-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .gridrow-menu img{
        width: 5%;
        margin: 10px;
    }
    #grid:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #row:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .hidden {
        display:none;
    }


    table {
        text-align: center;
        margin: 100px auto;
        border: 1px solid black;
      }
      table,
      td,
      th {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td,
      th {
        font-size: 1.2em;
        padding: 10px;
      }
      tr:nth-child(odd) {
        background-color: #ccc;
      }
      tr:nth-child(even) {
        background-color: rgb(233, 233, 233);
      }
      thead,
      tfoot {
        background-color: rgb(32, 111, 138);
      }
      tbody tr:first-child {
        background-color: lightblue;
      }


