

body{
    display: flex;
    flex-wrap:wrap;
    align-content: space-around;
    justify-content: center;
    
    
    
}
section{
    align-content: center;
    padding: 1em 1em 0em 1em;
    display: block;
    margin: auto;
    justify-content: center;
}
section img{
    width: 72%;
    display: block;
    margin: auto;
    justify-content: center;
}
section p {
    text-align: center;
    padding: 0;
    margin: 0;
}
#mthood{
    width: 80%;
}
#multnomah{
    width: 45%;
}
#lighthouse{
    width: 40%;
}

footer {
    border-top: 10px;
    text-align: center;
    background-color: grey;
}

section img:hover{
    border: 1px black solid;
}
