*{
    font-family: 'Noto Sans JP', sans-serif;
}
nav{
    background-color: #1c314d;
    list-style: none;
    height: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style:none;
    font-size: 1em;
}

li a {
    text-decoration: none;
    color: rgb(225, 225, 225);
    display: block;
    padding: 1em 2.5EM;
    margin:auto;
    font-size: 20px;
    font-weight: 600;
    
}
.social_icons{
    margin: 0;
    padding: 0;
    width: 100%;
}



ul li a:hover{
    color: rgb(255, 234, 0);
    font-weight: bolder;
}

nav ul li img {
    display: block;
    width: 75%;

}
header{
    background-color: grey;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
#footergrid{
    grid-template-columns: 1fr 1fr 1fr;
}
footer {
    border-top: 10px;
    text-align: center;
    background-color: grey;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;

}
#portlandimg{
    width: 10%;
    grid-column: 0;
}
#copyright{
    grid-column: 3/4;
}


body {
    margin:0;
    height:100%;
    width: 100%;
    
}