/*@media only screen and (min-width: 64em){
    .grid{
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .grid article:nth-child(1) {
        grid-column: 1/2;
    }

    .grid article:nth-child(2) {
        grid-column: 2/3;
    }

    .grid article:nth-child(3) {
        grid-column: 3/4;
    }
    
  }*/