@media only screen and (min-width: 64em) {
    main{
        max-width: 80%;
        margin: 0 auto;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    }
    #hero {
        grid-column: 2/5;
        grid-row: 1/3;
       
    }
    
    #release {
        grid-column: 2/5;
        grid-row: 3/4;
    }
    #spotlight{
        grid-column: 5/6;
        grid-row: 1/4;
    }
    #join{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .menu_icons{
        display: flex;
        justify-content: space-around;
    }
    .hamburger {
        display:none;
    }

    .nav-bar ul, .icons ul {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
    }

    /****************Footer********************/

    #footergrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #portlandimg{
        width: 10%;
        grid-column: 0;
    }
    #copyright{
        grid-column: 2/3;
        bottom: 0;
    }
    

}