@media only screen and (min-width: 64em) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #hero {
        grid-column: 2/5;
        grid-row: 1/5;
    }
    
    #release {
        grid-column: 2/5;
        grid-row: 5/7;
    }
    #spotlight{
        grid-column: 5/7;
        grid-row: 1/7;
    }
    #join{
        grid-column: 1/2;
        grid-row: 5/7;
    }
    #event {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    #weather{
        grid-column: 1/2;
        grid-row: 3/5;
    }

    

}