@media only screen and (min-width: 32.5em) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }
    #hero {
        grid-column: 1/6;
        grid-row: 1/3;
    }
    
    #release {
        grid-column: 1/6;
        
    }
    #spotlight{
        grid-column: 1/6;
    }
    #join{
        grid-column: 1/6;
    }
    #event {
        grid-column: 1/4;
    }
    #weather{
        grid-column: 4/6;
    }

    
    .menu_icons{
        display: none;
    }


    
    
   
}