@media only screen and (min-width: 32.5em) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #hero {
        grid-column: 1/7;
        grid-row: 0/1;
    }
    
    #release {
        grid-column: 1/7;
        
    }
    #spotlight{
        grid-column: 1/7;
    }
    #join{
        grid-column: 1/7;
    }
    #event {
        grid-column: 1/5;
    }
    #weather{
        grid-column: 5/7;
    }

    

}