
main{
    max-width: 85%;
    margin: 0 auto;
}
body{
    background-color: white
}
article { 
    background-color: lightgrey;
    border-width: medium;
}

article h2{
    text-align: center;
    border-bottom: 1px solid #3d5a80;
    margin: 0;
    padding: 5px;
}
article h3{
    text-align: center;
    padding: 10px;
    font-size: x-large;
}
article p{
    text-align: center;
    margin: 30px;
    font-size: larger;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#hero{
  /* height: 75%; */
   
}

#hero img{
     width: 100%;
    margin: 0;
    
}
.menu_icons{
    display: none;
}

.responsive{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#join-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background-color: #3d5a80;
    color: white;
    
}
/************Footer***************/
#footergrid{
    display: grid;
    grid-template-columns: 1fr;
}
footer {
    border-top: 10px;
    text-align: center;
    background-color: #1c314d;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;

}


