*{
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin:0;
    height:100%;
    width: 100%;
    
}
header{
    background-color: #1c314d;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.header-logo{
    grid-column: 2/3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header-logo{
    width: 7.5em;
    
}
nav ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

nav ul li {
    list-style: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
}



nav a {
    text-decoration: none;
    color: rgb(225, 225, 225);
    font-size: 20px;
    font-weight: 600;
}
#header-logo{
    grid-row: 2/3;
    width: 7.5em;

}
#footer-logo{
    width: 7.5em;
}
/**************Nav**************************/
/* .nav-bar{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
} */

nav a::after{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 187, 0);
    bottom: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::after{
    width: 100%;
    
}
header p{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 500;
    grid-column: 2/3;
}
.icons{
    grid-column: 1/2;
    
}
.nav-bar.responsive ul li{
    display:flex;
}
.nav-bar.responsive{
    display: block;
    text-align: center;
}
.nav-bar.responsive {position: relative;}






/*********************Footer***********************/


#footergrid{
    display: grid;
    grid-template-columns: 1fr;
}
footer {
    border-top: 10px;
    text-align: center;
    background-color: #1c314d;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;

}
.social_icons img{
    width: 50px;
    display: flex;
    
}




/* Medium Stuff */
@media only screen and (min-width: 32.5em){
/******************Footer***********/
#footergrid{
    grid-template-columns: 1fr 1fr;
}

#copyright{
    grid-column: 1/3;
}

/* Nav Bar Hamburger */

.nav-bar.responsive ul li{
    display:flex;
}
.nav-bar.responsive{
    display: block;
    text-align: center;
}
.nav-bar.responsive {
    position: relative;
}
.icons{
    grid-column: 2/3;
}


}



/* Large Stuff */
@media only screen and (min-width: 64em) {

    header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #footergrid{
        grid-template-columns: 1fr 1fr 1fr;
    }


    img#replay-logo{
        display: block;
        width: 10px;
        grid-row: 1/3;
    }
    .menu_icons{
        display: flex;
        justify-content: space-around;
        margin-left: 2em;
    }
    #copyright{
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: end;
    }
    .nav-bar{
        grid-column: 2/4;
    }
    #hamburger{
        display: none;
    }
    .icons{
        grid-column: 3/4;
        
    }
    


    .header-logo{
        grid-column: 1/2;
        display: block;
    }
    #header-logo{

        display: block;
    }
    


}