*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
/*-------Nav----------*/
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img{
  height: 40px;
  padding-left: 30px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  float: right;
  text-align: left;
}
/***Change highlight color***/
#nav-bar ul li a:hover{
  color: #007bff!important;
}
.navbar{
  background: #fff;
}
.navbar-toggler{
  border: none!important;
}
.nav-link{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}

/********Slider********/
/* .carousel-item :active{
  position: relative;
}
.text-block{
  position: absolute;
  bottom: 20px;
  right: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 0px 20px;
} */

.carousel-inner{
    max-height: 700px;
}

#slider{
  width: 100%;
  margin: 0 0 25px 0;
}
.carousel-caption{
  top: 10%;
  transform: translateY(-50%);
  bottom: initial!important;
}
.carousel-caption h5
{
    color: white;
    font-size: 42px;
}
  
/********Footer********/
body {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
}
body header {
  display: flex;
  flex-direction: row;
  font-size: 1.15rem;
  border-bottom: 1px solid #000000;
  padding: 15px;
}
body header nav {
  flex: 1;
  text-align: right;
}
body header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body header nav ul li {
  display: inline-block;
  padding: 7.5px;
  margin-right: 7.5px;
}
body main {
  font-size: 1.15rem;
  flex: 1;
  padding: 15px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
body footer {
  display: flex;
  flex-direction: row;
  font-size: 1.15rem;
  border-top: 1px solid #000000;
  padding: 15px;
}
body footer #legal {
  flex: 1;
}
body footer nav {
  flex: 1;
  text-align: right;
}
body footer nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body footer nav ul li {
  display: inline-block;
  padding: 7.5px;
  margin-right: 7.5px;
}
/*------------About Intro---------------------*/
#about{
  padding-top: 65px;
  padding-bottom: 20px;
  color: #555;
}

#about btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-content{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.skills-bar p{
  margin-bottom: 6px;
  font-weight: 700;
}
.progress-bar{
  border-radius: 16px;
}
.progress{
  border-radius: 16px !important;
  margin-bottom: 30px;
}
/**************************Services******************/
#services{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(../images/largelogo.jpeg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 60px;
  padding-bottom: 50px;
}
#services{
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
#services h1::after{
  content: '';
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.services{
  margin-top: 40px;
}
.icon{
  font-size: 45px;
  margin: 20px auto;
  padding: 20px auto;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#services p{
  font-size: 14px;
  margin-top: 20px;
  color: gray;
}
#services p:hover{
  color: white;
  transition: 1.0s;
}
.services .col-md-3:hover{
  background: #555;
  cursor: pointer;
  
  transition: 1.0s;
}

/********************How it works************************/
#team{
  padding-top: 65px;
  padding-bottom: 50px;
  color: #555;
}
#team h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
  content: '';
  background: #000000;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px; 
}
.profile-pic{
  margin-top: 25px;
}
.profile-pic .img-box{
  opacity: 1;
  display: block;
  position: relative;
  
}

.profile-pic .img-box img{
  filter: grayscale(1);
  
}
.profile-pic .img-box img:hover{
  filter: grayscale(0);
  cursor: pointer;
}
.pointer-pic h2{
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #ccc;
}
.pointer-pic h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
#team .fa{
  height: 25px;
  width: 25px;
  color: #007bff !important;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}
.img-box ul{
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  opacity: 0;
}
.img-box ul li{
  padding: 5px;
  display: inline-block;
}
.img-box:hover ul{
  opacity: 1;

}
.img-box ul, .img-box ul li{
  transition: 0.5s;
}
#replay-logo{
  width: 100%;
}

/*--------Price Plans----------*/
#price{
  padding: 65px 0;
  background: #efefef;
}
#price h1{
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}
.single-price{
  margin: 10px auto;
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
.single-price:hover{
  box-shadow: 0 2px 20px #333;

}
.price-head{
  background-color: #2196f3;
  display: inline;
  float: left;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
}
.price-head h2{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: uppercase;
}
.price-head p{
  font-size: 25px;
  color: #ccc;
  font-weight: bold;
  line-height: 30px;
}
#price span{
  font-size: 15px;
}
.price-content{
  display: inline;
  float: left;
  width: 100%;
  padding: 0 15px;
}
.price-content ul li{
  border-bottom: 1px solid #efefef;
  padding: 15px 10px;
  list-style: none;
}
ul li:last-child
{
  border: none;
}
.fa-check-circle{
  color: green;
  margin-right: 10px;
  font-size: 20px;
}
.fa-times-circle{
  color: red;
  margin-right: 10px;
  font-size: 20px;
}
.price-button{
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width: 100%;
}
.buy-btn{
  background-color: #2196f3;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  transition: 0.5s;

}
.buy-btn:hover{
  border-color: 1px solid #fff;
  background-color: #3f51b5;
}
a{
  text-decoration: none!important;
  color: #fff!important;
}





